{% use 'tailwind_2_layout.html.twig' %}

{% block form_row %}
    {% set row_class = row_class|default('mb-4 flex flex-col group') %}
    {{ parent() }}
{% endblock form_row %}

{% block form_label %}
    {% set label_class = label_class|default('mb-1 text-[12px] font-medium text-slate-600 uppercase tracking-wide') %}
    {{ parent() }}
{% endblock form_label %}

{% block form_widget %}
    {% set widget_class = widget_class|default('block w-full px-3 py-1.5 text-sm text-slate-700 border border-slate-300 rounded focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock form_widget %}

{% block number_widget %}
    {% set widget_class = widget_class|default('block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock number_widget %}

{% block email_widget %}
    {% set widget_class = widget_class|default('block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock email_widget %}

{% block tel_widget %}
    {% set widget_class = widget_class|default('block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock tel_widget %}

{% block date_widget %}
    {% set widget_class = widget_class|default('block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-500 focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock date_widget %}

{% block choice_widget %}
    {% set widget_class = widget_class|default('form-select appearance-none block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-500 focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock choice_widget %}

{% block textarea_widget %}
    {% set widget_class = widget_class|default('block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-500 focus:outline-none placeholder-slate-400') %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block checkbox_widget %}
    {% set widget_class = widget_class|default('form-check-input appearance-none -mt-2 mr-2.5 h-4 w-4 border border-slate-300 rounded-sm bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer placeholder-slate-400') %}
    {{ parent() }}
{% endblock checkbox_widget %}

{% block form_help %}
    {% set help_class = help_class|default('mt-1.5 text-xs text-slate-500') %}
    {{ parent() }}
{% endblock form_help %}

{% block integer_widget %}
    <div class="text-3xl text-red-500">
        {{ parent() }}
    </div>
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('mb-1 text-red-700 text-xs') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}