<!-- Modal header -->
<div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        Ticket #{{ sale.id }}
    </h3>
</div>
<!-- Modal body -->
<div class="p-6">
    <p>{{ sale.dateAdd|date('d/m/Y H:i') }}</p>
    <p>{{ sale.customer.name }}</p>
    <p>{{ sale.pet.name }}</p>

    {% for saleLine in sale.getSaleLines %}
        {{ saleLine.title }}
        {{ saleLine.quantity }}
        {{ saleLine.price }}
        {{ saleLine.discount }}
        {{ saleLine.total }}
    {% endfor %}

    <h4 class="uppercase font-medium mb-1.5">pagos</h4>
    <ul>
    {% for salePayment in sale.getSalePayments %}
        <li class="flex items-center justify-between border-t py-1.5">
            <div>{{ salePayment.paymentMethod.name }}</div>
            <div>{{ salePayment.amount }}</div>
        </li>
        <li class="flex items-center justify-between border-t py-1.5">
            <div>{{ salePayment.paymentMethod.name }}</div>
            <div>{{ salePayment.amount }}</div>
        </li>
    {% endfor %}
    </ul>
</div>