{% if pets.pageCount > 1 %}
    <div class="border-l border-r border-b border-slate-300 rounded-b-md p-4 flex items-center justify-between">
        <div class="text-xs md:text-sm">
            <span>Mostrando <strong>{{ pets.currentPageNumber * pets.itemNumberPerPage - pets.itemNumberPerPage + 1 }}-{% if pets.currentPageNumber != pets.pageCount %}{{ pets.currentPageNumber * pets.itemNumberPerPage }}{% else %}{{ pets.getTotalItemCount }}{% endif %}</strong> de <strong>{{ pets.getTotalItemCount }}</strong></span>
        </div>
        {{ knp_pagination_render(pets) }}
    </div>
{% endif %}