<form action="{{ path('admin_sale_edit_update_line', {'sale': sale.id, 'saleLine': saleLine.id}) }}" method="POST" data-sale-line-id="{{ saleLine.id }}" class="sale_line_form overflow-x-auto pb-2.5">
    <div class="flex items-center space-x-2.5 justify-between">
        <a href="{{ path('admin_sale_edit_delete_line', {'sale': sale.id, 'saleLine': saleLine.id}) }}"
           class="delete_line_button mt-5 px-2 py-1 text-blue-500 text-sm rounded bg-transparent hover:bg-blue-500 hover:text-white focus:bg-blue-500 focus:text-white focus:outline-none">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <div class="flex-1 flex flex-col space-y-1 min-w-[20rem] ">
            <label for="title" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Descripción</label>
            <input type="text" id="title" value="{{ saleLine.title }}"
                   class="sale_line_field title w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none"
                   autofocus>
        </div>
        <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
            <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
                <label for="maintenance-plan" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide"><i class="fa-solid fa-scissors mr-1.5"></i>Mant.</label>
                <div class="px-3 py-[0.20rem]">
                    <label class="relative inline-flex items-center cursor-pointer">
                        <input type="checkbox" id="maintenance-plan" class="sale_line_field maintenance_plan | sr-only peer" {% if saleLine.maintenancePlan %}checked{% endif %}>
                        <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
            <label for="quantity" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Cantidad</label>
            <input type="number" id="quantity" value="{{ saleLine.quantity }}"
                   class="sale_line_field quantity | w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none">
        </div>
        <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
            <label for="price" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Precio</label>
            <input type="number" id="price" min="0" value="{{ saleLine.price }}"
                   class="sale_line_field price | w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none">
        </div>
        <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
            <label for="discount" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Descuento</label>
            <input type="number" id="discount" min="0" value="{{ saleLine.discount }}"
                   class="sale_line_field discount | w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-400 focus:outline-none">
        </div>
        <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
            <label for="tax-type" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">IVA</label>
            <select id="tax-type"
                    class="sale_line_field taxType appearance-none block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-500 focus:outline-none">
                {% for tax_type in tax_types %}
                    <option {% if saleLine.taxType.id == tax_type.id %}selected{% endif %} value="{{ tax_type.id }}">{{ tax_type.rate }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex flex-col space-y-1 w-[6rem] min-w-[6rem]">
            <label for="total" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Total</label>
            <input type="number" id="total" step="0.01" disabled value="{{ saleLine.total }}"
                   class="sale_line_field total w-full px-3 py-1.5 text-sm font-normal bg-slate-50 text-slate-700 border-solid border-slate-300 rounded transition ease-in-out m-0 focus:outline-none">
        </div>
        <a href="{{ path('admin_sale_edit_delete_line', {'sale': sale.id, 'saleLine': saleLine.id}) }}"
           class="delete_line_button mt-5 px-2 py-1 text-red-500 text-sm rounded bg-transparent hover:bg-red-500 hover:text-white focus:bg-red-500 focus:text-white focus:outline-none">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
</form>