{% if day|date('d') in calendar_month_data.public_holidays|keys %}
    <p class="ml-4 mb-3 py-1.5 px-4 text-sm lg:text-base xl:text-lg font-semibold bg-red-500 rounded text-white text-center">{{ calendar_month_data.public_holidays[day|date('d')|number_format] }}</p>
{% endif %}

{% for slot_date, slot in slots %}
    <div class="border-b flex items-center space-x-2.5 last:border-b-0">
        <p class="py-2 px-3 w-16 border-r text-xs h-16 flex items-center justify-center w-16" style="min-width: 4rem;">{{ slot_date|date('H:i') }}</p>
        {% if slot|length == 0 %}
            <p class="py-2 text-sm text-emerald-500 font-semibold uppercase">Disponible</p>
        {% else %}
            <div class="overflow-x-auto flex items-center space-x-1.5">
                {% for slot_booking in slot %}
                    <div class="w-40 rounded bg-{{ slot_booking.color }}-100 border border-{{ slot_booking.color }}-200 text-{{ slot_booking.color}}-800 text-xs px-2 py-1 flex items-center justify-between space-x-1.5" style="min-width: 10rem;">
                        <img src="{{ asset(slot_booking.booking.pet.getProfileImgPath()) }}" alt="{{ slot_booking.booking.pet.name }}" class="h-9 w-9 border p-[1px] rounded-full object-cover">
                        <div class="flex-1 flex flex-col items-start space-y-0.5 leading-3">
                            <div class="w-24 truncate">
                                <button data-modal-target="ajax-modal" data-modal-toggle="ajax-modal" data-url="{{ path('admin_pet_show', {'pet': slot_booking.booking.pet.id}) }}" title="Ver"
                                        type="button" class="ajax_modal_button hover:underline focus:underline focus:outline-none">
                                    {{ slot_booking.booking.pet.name }}
                                </button>
                            </div>
                            {% set estimatedBookingEnd = slot_booking.booking.date|date_modify('+' ~ slot_booking.booking.estimatedDuration ~ ' minutes')%}
                            <p class="w-24 text-[10px] truncate">{{ slot_booking.booking.pet.breed.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}