<div class="border-b flex items-center space-x-2.5 last:border-b-0 relative {% if not slot.isWorkingHours %}bg-rose-100/25 hover:bg-rose-50{% else %}even:bg-neutral-50 hover:bg-amber-50{% endif %}">
    <p class="py-2 px-3 w-16 text-xs h-16 border-r border-dashed flex items-center justify-center w-16" style="min-width: 4rem;">{{ slot_date|date('H:i') }}</p>
    <button type="button" title="Nueva cita"
            data-modal-target="ajax-static-modal" data-modal-toggle="ajax-static-modal" data-modal-backdrop="static" data-modal-keyboard="false"
            data-url="{{ path('admin_booking_create') }}"
            data-date="{{ slot_date }}"
            class="create_button | absolute rounded-full w-5 h-5 text-[10px] bg-white border border-slate-300 hover:bg-blue-500 hover:text-white hover:border-blue-600 focus:bg-blue-500 focus:text-white focus:border-blue-600 shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out"
            style="left: 0; top: 0; margin-left: 53px; margin-top: 22px;">
        <i class="fa-solid fa-plus"></i>
    </button>
    {% if slot.slotBooking|length == 0 and slot.isWorkingHours %}
        <p class="px-1.5 py-2 text-sm text-emerald-500 font-semibold">Disponible</p>
    {% elseif slot.slotBooking|length == 0 and not slot.isWorkingHours %}
        <p class="px-1.5 py-2 text-sm text-rose-500 font-semibold">Fuera de horario</p>
    {% else %}
        <div class="px-1.5 overflow-x-auto flex items-center space-x-2">
            {% for slot_booking in slot.slotBooking %}
                <div class="ajax_modal_button cursor-pointer w-40 rounded bg-{{ slot_booking.color }}-100 border border-{{ slot_booking.color }}-200 text-{{ slot_booking.color}}-800 text-xs px-2 py-1 hover:border-{{ slot_booking.color }}-300 hover:bg-{{ slot_booking.color }}-200 flex items-center justify-between space-x-1.5" style="min-width: 10rem;"
                     data-modal-target="ajax-modal" data-modal-toggle="ajax-modal" data-url="{{ path('admin_pet_show', {'pet': slot_booking.booking.pet.id}) }}" title="Ver">
                    <img src="{{ asset(slot_booking.booking.pet.getProfileImgPath()) }}" alt="{{ slot_booking.booking.pet.name }}" class="h-9 w-9 border p-[1px] rounded-full object-cover">
                    <div class="flex-1 flex flex-col items-start space-y-0.5 leading-3">
                        <div class="w-24 truncate">
                            {{ slot_booking.booking.pet.name }}
                        </div>
                        {% set estimatedBookingEnd = slot_booking.booking.date|date_modify('+' ~ slot_booking.booking.estimatedDuration ~ ' minutes')%}
                        <p class="w-24 text-[10px] truncate">{{ slot_booking.booking.pet.breed ? slot_booking.booking.pet.breed.name : 'N/D' }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>