<div class="lg:border-l">
    <div class="ml-4 mb-2 flex items-center justify-end">
        <div class="flex-initial flex items-center text-xs">
            <a href="{{ path('admin_booking', {'view': view, 'day': day|date_modify('-1 ' ~ view)|date('Y-m-d')}) }}"
               class="font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 w-8 h-8 flex items-center justify-center rounded-full focus:ring-gray-200 focus:bg-gray-100 hover:bg-gray-100 bg-transparent">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a href="{{ path('admin_booking', {'view': view, 'day': day|date_modify('+1 ' ~ view)|date('Y-m-d')}) }}"
               class="font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 w-8 h-8 flex items-center justify-center rounded-full focus:ring-gray-200 focus:bg-gray-100 hover:bg-gray-100 bg-transparent">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>

        <div class="flex-1 ml-3">
            <div class="text-sm lg:text-base xl:text-lg {% if day|date('d') in calendar_month_data.public_holidays|keys %}text-red-500{% endif %} flex items-center justify-between">
                <p><span class="hidden lg:inline-block mr-1.5">{{ day|date('l')|trans }},</span><span class="">{{ day|date('d')}} de {{ day|date('F')|trans }} de {{ day|date('Y') }}</span></p>
                {% if day|date('d') in calendar_month_data.public_holidays|keys %}
                    <span class="ml-1.5 bg-red-100 text-red-800 text-sm font-medium px-3 py-1 rounded">{{ calendar_month_data.public_holidays[day|date('d')|number_format] }}</span>
                {% elseif calendar_month_data.days[day|date('j')].is_complete_day %}
                    <span class="ml-1.5 bg-gray-100 text-gray-800 text-sm font-medium px-3 py-1 rounded">Completo</span>
                {% else %}
                    {% set percent_free = (1 - (calendar_month_data.days[day|date('j')].num_bookings / calendar_month_data.days[day|date('j')].num_working_hour_slots)) * 100 %}
                    <span class="ml-1.5 bg-green-100 text-green-800 text-sm font-medium px-3 py-1 rounded">{{ percent_free|number_format(0) }}% disponible</span>
                {% endif %}
            </div>
        </div>
    </div>

    {% if view == 'day' %}
        {% include 'admin/booking/slots/_day_view.html.twig' %}
    {% endif %}

    {% if view == 'week' %}
        {% include 'admin/booking/slots/_week_view.html.twig' %}
    {% endif %}
</div>