<header>
    <div class="bg-white">
        <div class="container mx-auto">
            <div class="py-4 flex items-center justify-between">
                <div class="flex items-center">
                    <a href="{{ path('home') }}" class="flex items-center" class="">
                        <img src="{{ asset('img/logo.png') }}" alt="logo" class="w-16">
                    </a>
                    <div class="pl-4 flex flex-col justify-center">
                        <p>
                            <span class="text-3xl font-thin tracking-tighter text-neutral-500">Marta</span><span class="text-3xl tracking-tighter text-neutral-600">Vela</span>
                        </p>
                        <p class="text-xs uppercase text-neutral-400">
                            estilismo canino
                        </p>
                    </div>
                </div>

                <div class="flex items-center space-x-10">
                    <a class="group flex items-center space-x-4" href="https://www.google.com/maps/dir/39.5790575,-0.327784/estilismo+canino+marta+vela/@39.5994968,-0.3329594,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd60413ac04b3e5b:0x8abc3961fc44b181!2m2!1d-0.3126824!2d39.616553" target="_blank">
                        <i class="fa-solid fa-location-dot text-xl text-neutral-500 group-hover:text-teal-500 group-hover:scale-110"></i>
                        <div class="flex flex-col text-base leading-5">
                            <span class="text-xs uppercase text-neutral-400 group-hover:text-neutral-500">localización</span>
                            <span class="font-medium text-teal-500 group-hover:underline">C/ Sanchis Guarner, 1 - Puzol</span>
                        </div>
                    </a>
                    <div class="flex items-center space-x-4">
                        <i class="fa-regular fa-clock text-xl text-neutral-500"></i>
                        <div class="flex flex-col text-base leading-5">
                            <span class="text-xs uppercase text-neutral-400">horario</span>
                            <span class="font-medium text-teal-500">(L-V) 09:30 - 19:00</span>
                        </div>
                    </div>
                    <a class="group flex items-center space-x-4" href="https://api.whatsapp.com/send?phone=624273038" target="_blank">
                        <i class="fa-brands fa-whatsapp text-xl text-neutral-500 group-hover:text-teal-500 group-hover:scale-110"></i>
                        <div class="flex flex-col text-base leading-5">
                            <span class="text-xs uppercase text-neutral-400 group-hover:text-neutral-500">whatsapp / teléfono</span>
                            <span class="font-medium text-teal-500 group-hover:underline">(+34) 624 27 30 38</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-teal-600/60">
        <div class="container mx-auto">
            <nav class="flex items-center justify-between">
                <ul class="w-full flex items-center text-sm uppercase select-none">
                    <li>{{ component('headerLink', {path: 'home', message: 'Inicio'}) }}</li>
                    <li>{{ component('headerLink', {path: 'appointments', message: 'citas'}) }}</li>
                    <li>{{ component('headerLink', {path: 'works', message: 'trabajos'}) }}</li>
                    <li>{{ component('headerLink', {path: 'contact', message: 'Contact'}) }}</li>
                    <li class="w-full">
                        <ul class="flex items-center justify-end text-white text-xl space-x-3">
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=624273038" target="_blank" class="opacity-80 hover:opacity-100">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ec.mvela" target="_blank" class="opacity-80 hover:opacity-100">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100088700336392" target="_blank" class="opacity-80 hover:opacity-100">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/@ec.mvela" target="_blank" class="opacity-80 hover:opacity-100">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>