<header>
    <div class="bg-white">
        <div class="container mx-auto">
            <div class="px-4 py-4 flex items-center justify-between">
                <div class="w-full md:w-auto flex items-center justify-between">
                    <div class="flex items-center">
                        <a href="{{ path('home') }}" class="flex items-center">
                            <img src="{{ asset('img/logo.png') }}" alt="logo" class="w-16">
                        </a>
                        <div class="pl-4 flex flex-col justify-center">
                            <p>
                                <span class="text-3xl font-thin tracking-tighter text-neutral-500">Marta</span><span class="text-3xl tracking-tighter text-neutral-600">Vela</span>
                            </p>
                            <p class="text-xs uppercase text-neutral-400">
                                estilismo canino
                            </p>
                        </div>
                    </div>

                    <i class="md:hidden text-2xl fa-solid fa-bars"></i>
                </div>

                <div class="hidden md:flex items-center md:ml-6 lg:ml-0 md:space-x-3 lg:space-x-10">
                    <a class="group flex items-center space-x-4" href="https://www.google.com/maps/place/Estilismo+canino+Marta+Vela/@39.6165571,-0.3148711,17z/data=!3m1!4b1!4m5!3m4!1s0xd60413ac04b3e5b:0x8abc3961fc44b181!8m2!3d39.616553!4d-0.3126824" target="_blank">
                        <i class="fa-solid fa-location-dot text-xl text-neutral-500 group-hover:text-teal-500 group-hover:scale-110"></i>
                        <div class="flex flex-col text-base leading-5">
                            <span class="text-xs uppercase text-neutral-400 group-hover:text-neutral-500">localización</span>
                            <span class="text-sm lg:text-base font-medium text-teal-500 group-hover:underline">C/ Sanchis Guarner, 1 - Puzol</span>
                        </div>
                    </a>
                    <div class="hidden lg:flex items-center space-x-4">
                        <i class="fa-regular fa-clock text-xl text-neutral-500"></i>
                        <div class="flex flex-col text-base leading-5">
                            <span class="text-xs uppercase text-neutral-400">horario</span>
                            <span class="text-sm lg:text-base font-medium text-teal-500">(L-V) 09:30 - 19:00</span>
                        </div>
                    </div>
                    <a class="group flex items-center space-x-4" href="https://api.whatsapp.com/send?phone=624273038" target="_blank">
                        <i class="fa-brands fa-whatsapp text-xl text-neutral-500 group-hover:text-teal-500 group-hover:scale-110"></i>
                        <div class="flex flex-col text-base leading-5">
                            <span class="text-xs uppercase text-neutral-400 group-hover:text-neutral-500">whatsapp / teléfono</span>
                            <span class="text-sm lg:text-base font-medium text-teal-500 group-hover:underline">(+34) 624 27 30 38</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-teal-600/60">
        <div class="container mx-auto">
            <nav class="flex items-center justify-between px-4 py-2 md:py-0">
                <ul class="w-full flex items-center text-sm uppercase select-none">
                    <li class="hidden md:block">{{ component('headerLink', {path: 'home', message: 'Inicio'}) }}</li>
                    <li class="hidden md:block">{{ component('headerLink', {path: 'appointments', message: 'citas'}) }}</li>
                    <li class="hidden md:block">{{ component('headerLink', {path: 'works', message: 'trabajos'}) }}</li>
                    <li class="hidden md:block">{{ component('headerLink', {path: 'contact', message: 'Contact'}) }}</li>
                    <li class="w-full">
                        <div class="flex flex-col sm:flex-row items-center justify-between md:justify-end space-x-3 space-y-0.5 sm:space-y-0">
                            <p class="text-left md:hidden text-white/80">Salud y belleza para tu mascota</p>
                            <ul class="flex items-center justify-center md:justify-end text-white text-xl space-x-4">
                                <li>
                                    <a href="https://api.whatsapp.com/send?phone=624273038" target="_blank" class="opacity-80 hover:opacity-100">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ec.mvela" target="_blank" class="opacity-80 hover:opacity-100">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100088700336392" target="_blank" class="opacity-80 hover:opacity-100">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@ec.mvela" target="_blank" class="opacity-80 hover:opacity-100">
                                        <i class="fa-brands fa-tiktok"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>