<div class="flex flex-col space-y-3 text-sm">
    {% if bookings|length == 0 %}
        <p class="text-center">No hay citas agendadas</p>
    {% else %}
        <div class="">
            <p class="text-sm font-semibold text-slate-500">{{ bookings|length }} citas agendadas</p>
            <a href="#" class="flex items-center space-x-1.5 text-green-500 hover:text-green-600 focus:text-green-600 focus:outline-none">
                <i class="fa-brands fa-whatsapp"></i>
                <span class="text-sm">Enviar recordatorio de todas las citas</span>
            </a>
        </div>
        {% for bookingKey, booking in bookings %}
            {% set booking_start = booking.date|date('h:i') %}
            {% set booking_estimated_end = booking.date|date_modify('+' ~ booking.estimatedDuration ~ ' minutes')|date('h:i') %}
            <div class="border-b pb-4 last:border-b-0">
                <p class="text-xs leading-4 text-gray-500 flex items-center justify-between space-x-3">
                    <span>{{ booking_start }} - {{ booking_estimated_end}}</span>
                    <a href="#" class="text-sm {% if booking.isReminderSent %}text-slate-300 pointer-events-none{% else %}text-green-500 hover:text-green-600 focus:text-green-600{% endif %} text-lg focus:outline-none">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </p>
                <a class="focus:outline-none text-base font-medium leading-5 text-gray-800 mt-2">{{ booking.pet.name }} -  {{ booking.customer.name }}</a>
                <p class="text-sm text-gray-600 dark:text-gray-300">{{ booking.notes }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>