{{ form_start(form, { 'attr': { 'class': 'ajax-form' } }) }}
<div class="p-6 text-sm">
    <div class="flex flex-col items-center border-b pb-6 mb-6">
        {{ form_row(form.imageFile, {'attr': {'class': 'hidden'}} ) }}
        {% if mode == 'edit' %}
            <img id="preview" src="{{ asset(pet.getProfileImgPath) }}" alt="Imagen de la mascota"
                 class="-mt-4 h-40 w-40 rounded-full object-cover bg-white border p-0.5"
                 data-default-image="{{ asset(pet.getDefaultImgPath) }}"
            >
        {% else %}
            <img id="preview" src="{{ asset(constant('App\\Entity\\Pet::DEFAULT_PROFILE_TYPE_DOG_IMG_PATH')) }}" alt="Imagen de la mascota"
                 class="-mt-4 h-40 w-40 rounded-full object-cover bg-white border p-0.5"
                 data-default-image="{{ asset(constant('App\\Entity\\Pet::DEFAULT_PROFILE_TYPE_DOG_IMG_PATH')) }}"
            >
        {% endif %}
        <div class="mt-2.5 flex items-center space-x-2.5">
            <button type="button" id="delete-image-button" class="{% if pet.profileImg is not null %}block{% else %}hidden{% endif %} w-auto px-2.5 py-1.5 bg-red-50 text-red-600 font-medium text-[11px] border border-red-200 leading-tight uppercase rounded-md hover:bg-red-100 focus:bg-red-100 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                <i class="fa-solid fa-trash mr-1.5"></i>Eliminar
            </button>
            <button type="button" id="load-image-button" class="w-auto px-2.5 py-1.5 bg-slate-50 text-slate-600 font-medium text-[11px] border border-slate-200 leading-tight uppercase rounded-md hover:bg-slate-100 focus:bg-slate-100 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                <i class="fa-solid fa-upload mr-1.5"></i>Cargar
            </button>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8">
        {{ form_row(form.name) }}
        {{ form_row(form.customer) }}
        {{ form_row(form.category) }}
        {{ form_row(form.breed) }}
        {{ form_row(form.color) }}
        {{ form_row(form.birthDate) }}
    </div>

    {{ form_row(form.notes) }}
    <input type="hidden" id="delete-current-image" name="deleteCurrentImage" value="0">

    <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" id="active" name="active" {% if mode == 'add' or (mode == 'edit' and pet.active) %}checked{% endif %}>
        <div class="w-9 h-5 bg-slate-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-slate-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-blue-600"></div>
        <span class="ml-2 text-[12px] font-medium text-slate-600 uppercase tracking-wide">activo</span>
    </label>
</div>

<div class="p-6 flex items-center justify-end border-t rounded-b-md bg-slate-50 relative">
    <button type="button" class="px-6 py-2.5 mr-3 bg-transparent font-medium text-xs leading-tight uppercase hover:text-blue-700 focus:text-blue-700 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            onclick="$('.close-modal').trigger('click');">
        Cancelar
    </button>
    <button type="submit" id="send-form-button" {% if mode == 'add' %}disabled{% endif %}
            class="px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-lg transition duration-150 ease-in-out
                  {% if mode == 'add' %}bg-blue-300 hover:bg-blue-300 focus:bg-blue-300 pointer-events-none{% else %}bg-blue-500 hover:bg-blue-600 focus:bg-blue-600{% endif %}
                  ">
        {{ button_label|default('Guardar mascota') }}
    </button>
</div>
{{ form_end(form) }}

<script>
    $(document).ready(function() {
        $('select').select2();
    });
</script>
