{% extends 'base-admin.html.twig' %}

{% block title %}Dashboard | {% endblock %}

{% block main %}

    <div class="mb-8 grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="">
            {{ render_chart(chart) }}
        </div>
        <div class="">

        </div>
    </div>

    <h2 class="text-lg font-semibold text-gray-900 dark:text-white">1T: Total Bizum: <span class="font-bold">{{ total_bizum|format_currency('EUR') }}</span></h2>
    <h2 class="mb-8 text-lg font-semibold text-gray-900 dark:text-white">1T: Total Efectivo: <span class="font-bold">{{ total_cash|format_currency('EUR') }}</span></h2>
    <h2 class="mb-8 text-lg font-semibold text-gray-900 dark:text-white">Total caja acumulada: <span class="font-bold">{{ view.saleTotalDays.total|format_currency('EUR') }}</span></h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="w-full">
            <h2 class="mb-2 text-base font-semibold text-gray-900 dark:text-white">Total por días</h2>
            <ul class="text-sm border rounded text-gray-500">
                {% for day in view.saleTotalDays.days %}
                    <li class="py-2.5 px-4 border-b flex items-center justify-between bg-white even:bg-neutral-50 hover:bg-amber-50 space-x-8">
                        <p>{{ day.day|date('d/m/y') }} - {{ day.tickets }} {{ day.tickets == 1 ? 'ticket' : 'tickets' }}</p>
                        <p class="font-medium">{{ day.total|format_currency('EUR') }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2 class="mb-2 text-base font-semibold text-gray-900 dark:text-white">Total por semanas</h2>
            <ul class="text-sm border rounded text-gray-500">
                {% for week in view.saleTotalWeeks.weeks %}
                    <li class="py-2.5 px-4 border-b flex items-center justify-between bg-white even:bg-neutral-50 hover:bg-amber-50 space-x-8">
                        <p>Semana del {{ week.startDate|date('d/m/y') }} al {{ week.endDate|date('d/m/y') }}</p>
                        <p class="font-medium">{{ week.total|format_currency('EUR') }}</p>
                    </li>
                    <li class="hidden py-2.5 px-4 border-b flex items-center justify-between bg-white even:bg-neutral-50 hover:bg-amber-50 space-x-0.5 text-red-600">
                        <p>Semana del {{ week.startDate|date('d/m/y') }} al {{ week.endDate|date('d/m/y') }}</p>
                        <p class="font-medium">{{ week.total|format_currency('EUR') }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

{#        <div>#}
{#            <h2 class="mb-2 text-base font-semibold text-gray-900 dark:text-white">Total por semanas</h2>#}
{#            <ul class="text-sm border rounded text-gray-500">#}
{#                {% for week in view.saleTotalWeeks.weeks %}#}
{#                    <li class="py-2.5 px-4 border-b flex items-center justify-between bg-white even:bg-neutral-50 hover:bg-amber-50 space-x-8">#}
{#                        <p>Semana del {{ week.startDate|date('d/m/y') }} al {{ week.endDate|date('d/m/y') }}</p>#}
{#                        <p class="font-medium">{{ week.total|format_currency('EUR') }}</p>#}
{#                    </li>#}
{#                    <li class="hidden py-2.5 px-4 border-b flex items-center justify-between bg-white even:bg-neutral-50 hover:bg-amber-50 space-x-0.5 text-red-600">#}
{#                        <p>Semana del {{ week.startDate|date('d/m/y') }} al {{ week.endDate|date('d/m/y') }}</p>#}
{#                        <p class="font-medium">{{ week.total|format_currency('EUR') }}</p>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
    </div>
{% endblock %}

