{% extends 'base-admin.html.twig' %}

{% block title %}Clientes | {% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
{#            <nav aria-label="breadcrumb" class="w-max mb-4">#}
{#                <ol class="flex flex-wrap items-center w-full">#}
{#                    <li class="flex items-center text-slate-900 antialiased text-xs font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-slate-500">#}
{#                        <a href="{{ path('admin_dashboard') }}" class="opacity-70">#}
{#                            <span>Dashboard</span>#}
{#                        </a>#}
{#                        <span class="text-slate-500 text-xs antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>#}
{#                    </li>#}
{#                    <li class="flex items-center text-slate-900 antialiased font-sans text-xs font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">#}
{#                        <span>Fichas</span>#}
{#                    </li>#}
{#                </ol>#}
{#            </nav>#}
            <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-sky-500">Administración</p>
            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Clientes</h1>
            <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Mantenimiento de fichas de clientes.</p>
        </div>
    </header>

    <a href="{{ path('admin_dogs_new') }}" class="px-4 py-2 bg-sky-500 rounded text-white text-sm hover:bg-sky-600 focus:bg-sky-500 focus:outline-none">
        {% trans %}Crear nuevo{% endtrans %}
    </a>

        <div class="overflow-x-auto">
            <div class="py-2 inline-block min-w-full">
                <div class="overflow-x-auto">
                    <table class="min-w-full mt-6 border-l border-r bg-white text-sm">
                        <thead class="border-t border-b h-10 px-3">
                            <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Name{% endtrans %}</th>
                            <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Breed{% endtrans %}</th>
                            <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Edad{% endtrans %}</th>
                            <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Last service{% endtrans %}</th>
                            <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Actions{% endtrans %}</th>
                        </thead>
                        <tbody class="bg-white">
                            {% if dogs is empty %}
                                <tr class="border-b">
                                    <td colspan="5" class="py-4 px-3 text-center">
                                        No se han encontrado registros
                                        <p class="text-sm">puedes crear un nuevo </p>
                                    </td>
                                </tr>
                            {% endif %}
                            {% for dog in dogs %}
                                <tr class="border-b hover:bg-neutral-50">
                                    <td class="py-1.5 px-3 whitespace-nowrap">
                                        <div class="flex items-center space-x-4">
                                            <img src="{{ asset(dog.getProfileImgPath()) }}" alt="{{ dog.name }}" class="h-8 w-8 rounded-full object-cover">
                                            <span>{{ dog.name }}</span>
                                        </div>
                                    </td>
                                    <td class="py-1.5 px-3 whitespace-nowrap">
                                        {{ dog.breed ? dog.breed.name : '-' }}
                                    </td>
                                    <td class="py-1.5 px-3 whitespace-nowrap">
                                        {{ dog.getDogYears ?? '-' }}
                                    </td>
                                    <td class="py-1.5 px-3 whitespace-nowrap">
                                    -
                                    </td>
                                    <td class="py-1.5 px-3 whitespace-nowrap">
                                        <div class="flex items-center space-x-1.5">
                                            <a href="{{ path('admin_dogs_new') }}" class="px-2.5 py-1 text-xs bg-neutral-100 border text-neutral-400">
                                                {% trans %}Servicios{% endtrans %}
                                            </a>
                                            <a href="{{ path('admin_dogs_new') }}" class="px-2.5 py-1 text-xs bg-neutral-100 border text-neutral-400">
                                                {% trans %}Editar{% endtrans %}
                                            </a>
                {#                            <a href="{{ path('admin_dogs_new') }}" class="px-2.5 py-1 text-xs bg-red-100 border border-red-200 text-red-400">#}
                {#                                {% trans %}Eliminar{% endtrans %}#}
                {#                            </a>#}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <div class="mt-12">
        <ul>
            <li>image preview</li>
            <li>añadir cp</li>
            <li>añadir active</li>
            <li>editar</li>
            <li>ver</li>
            <li>servicios</li>
            <li>eliminar, restricciones si tiene servicios</li>
            <li>filtros</li>
            <li>paginacion</li>
            <li>estudiar como tratar a los gatos, con sus razas...o simplemente meterlo como una raza...</li>
        </ul>
    </div>

    <div class="mt-12">
        <ul>
            <li>agenda, tramos de 15 minutos</li>
            <li>agenda, agregar prevision de tiempo para mostrar en la disponibilidad la siguiente hora libre</li>
        </ul>
    </div>

    <div class="mt-12">
        <ul>
            <li>dar de alta los servicios como articulos para poder facturarlos</li>
            <li>o tratar diferente los servicios y las ventas de productos</li>
        </ul>
    </div>
{% endblock %}
