{% extends 'base-admin.html.twig' %}

{% block title %}New Dog | {% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
            <div class="flex items-center">
                <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-sky-500">Administración</p>
                <p class="mb-2 md:mb-4 px-1.5 text-xs md:text-sm font-semibold">/</p>
                <a href="{{ path('admin_dogs') }}" class="mb-2 md:mb-4 text-xs md:text-sm font-semibold hover:text-sky-500 focus:text-sky-500">Clientes</a>
            </div>

            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Nuevo cliente</h1>
        </div>
    </header>

    <div class="max-w-[85rem] mx-auto rounded my-8">
        {{ form_start(form) }}

        <h4 class="font-semibold text-lg md:text-xl mb-6">Datos del perro</h4>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8">
            {{ form_row(form.name) }}
            {{ form_row(form.breed) }}
            {{ form_row(form.color) }}
            {{ form_row(form.birthdate) }}
        </div>
        {{ form_row(form.notes) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.active) }}

        <h4 class="font-semibold text-lg md:text-xl mt-12 mb-6">Datos del dueñ@</h4>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8">
            {{ form_row(form.ownerName) }}
            {{ form_row(form.ownerIdentification) }}
            {{ form_row(form.ownerPhone) }}
            {{ form_row(form.ownerEmail) }}
            {{ form_row(form.ownerAddress) }}
            {{ form_row(form.ownerCP) }}
            {{ form_row(form.ownerLocation) }}
        </div>

        <div class="mt-12 flex items-center justify-end">
            <a href="{{ path('admin_dogs') }}" class="px-6 py-2.5 bg-transparent font-medium text-xs leading-tight uppercase hover:text-sky-700 focus:text-sky-700 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Cancelar</a>
            <input type="submit" value="Guardar cambios" class="px-6 py-2.5 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 hover:shadow-lg focus:bg-sky-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-700 active:shadow-lg transition duration-150 ease-in-out">
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
