{% extends 'base-admin.html.twig' %}

{% block title %}BackOffice | New Dog{% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
            <div class="flex items-center">
                <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-sky-500">Administración</p>
                <p class="mb-2 md:mb-4 px-1.5 text-xs md:text-sm font-semibold">/</p>
                <a href="{{ path('admin_dogs') }}" class="mb-2 md:mb-4 text-xs md:text-sm font-semibold hover:text-sky-500 focus:text-sky-500">Clientes</a>
            </div>

            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Nuevo cliente</h1>
            <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Mantenimiento de fichas de clientes.</p>
        </div>
    </header>

    {{ component('alert', {size: 'base', message: 'Soy un mensaje feliz 😁'}) }}
    {{ component('alert', {type: 'warning', size: 'base', message: 'Soy un mensaje dudoso 🤖'}) }}

    {% form_theme form 'tailwind_2_layout.html.twig' %}
    <div class="max-w-[85rem] mx-auto border rounded my-8 p-6">
        {{ form_start(form) }}

            {{ form_errors(form) }}

                {{ form_row(form.name, {
                    row_class: 'mt-2 px-3',
                    label_class: 'font-semibold text-gray-600',
                    error_item_class: 'text-red-700',
                    widget_class: 'border border-gray-200 bg-gray-50',
                    widget_disabled_class: 'border-dashed text-gray-200',
                    widget_errors_class: 'border-double border-red-500 bg-red-50',
                }) }}

                <div class="">
                    {{ component('label', {inputId: 'dog_name', label:'name'}) }}
                </div>
                <div class="">
                    {{ component('input', {type: 'text', name: 'dog[name]', id: 'dog_name'}) }}
                </div>
        <br>
        <input placeholder="" type="password" x-model="password"
               class="text-md block px-3 py-2 rounded-lg w-full
                bg-white border-2 border-gray-300 placeholder-gray-600 focus:placeholder-gray-500 focus:bg-neutral-100 focus:border-red-500 focus:outline-none">

            <div class="my-3">
                <label for="dog_breed">{% trans %}Breed{% endtrans %}</label>
                {{ form_row(form.breed) }}
            </div>

            {{ form_row(form.submit, { 'label': 'Submit me' }) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
