{% extends 'base-admin.html.twig' %}

{% block title %}BackOffice | New Dog{% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
            <div class="flex items-center">
                <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-sky-500">Administración</p>
                <p class="mb-2 md:mb-4 px-1.5 text-xs md:text-sm font-semibold">/</p>
                <a href="{{ path('admin_dogs') }}" class="mb-2 md:mb-4 text-xs md:text-sm font-semibold hover:text-sky-500 focus:text-sky-500">Clientes</a>
            </div>

            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Nuevo cliente</h1>
            <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Mantenimiento de fichas de clientes.</p>
        </div>
    </header>

    <div class="max-w-[85rem] mx-auto rounded my-8">
        {{ form_start(form) }}

        <h4 class="font-semibold text-base mb-2 flex items-center space-x-2.5"><i class="fa-solid fa-circle text-[6px]"></i><span>Datos del perro</span></h4>
        <div class="border rounded p-4 mb-6 bg-white">
            {{ form_row(form.imageFile) }}
            {{ form_row(form.name) }}
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                {{ form_row(form.breed) }}
                {{ form_row(form.color) }}
            </div>
        </div>

        <h4 class="font-semibold text-base mb-2 flex items-center space-x-2.5"><i class="fa-solid fa-circle text-[6px]"></i><span>Datos del dueñ@</span></h4>
        <div class="border rounded p-4 mb-6 bg-white">
            {{ form_widget(form) }}
        </div>

        <div class="mt-6">
            <a href="{{ path('admin_dogs') }}" class="px-6 py-2.5 bg-transparent font-medium text-xs leading-tight uppercase hover:text-sky-700 focus:text-sky-700 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Cancelar</a>
            <input type="submit" value="Guardar" class="px-6 py-2.5 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 hover:shadow-lg focus:bg-sky-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-700 active:shadow-lg transition duration-150 ease-in-out">
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
