{% extends 'base-admin.html.twig' %}

{% block title %}Clientes | {% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
{#            <nav aria-label="breadcrumb" class="w-max mb-4">#}
{#                <ol class="flex flex-wrap items-center w-full">#}
{#                    <li class="flex items-center text-slate-900 antialiased text-xs font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-slate-500">#}
{#                        <a href="{{ path('admin_dashboard') }}" class="opacity-70">#}
{#                            <span>Dashboard</span>#}
{#                        </a>#}
{#                        <span class="text-slate-500 text-xs antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>#}
{#                    </li>#}
{#                    <li class="flex items-center text-slate-900 antialiased font-sans text-xs font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">#}
{#                        <span>Fichas</span>#}
{#                    </li>#}
{#                </ol>#}
{#            </nav>#}
            <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-sky-500">Administración</p>
            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Clientes</h1>
            <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Mantenimiento de fichas de clientes.</p>
        </div>
    </header>

    <div class="flex items-center justify-between">
        <a href="{{ path('admin_dog_new') }}" class="px-4 py-2 bg-sky-500 rounded font-medium text-white text-sm hover:bg-sky-600 focus:bg-sky-600 focus:outline-none">
            {% trans %}Crear nuevo{% endtrans %}
        </a>
        <div>
            <form action="{{ path('admin_dog') }}">
                <div class="input-group relative flex flex-wrap items-stretch w-full">
                    <input type="search" name="name" class="form-control relative flex-auto min-w-0 block w-full px-2.5 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-500 focus:outline-none" placeholder="Buscar..." aria-label="Search" aria-describedby="btn-search" value="{{ filterName }}">
                    <button class="btn inline-block px-6 py-2.5 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 focus:bg-sky-600 focus:outline-none focus:ring-0 active:bg-sky-700 transition duration-150 ease-in-out flex items-center" type="submit" id="btn-search">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                        </svg>
                    </button>
                </div>
{#                <i class="-mr-4 fa-solid fa-magnifying-glass"></i>#}
{#                <input type="search" name="name" value="{{ filterName }}" class="text-sm bg-white text-neutral-500 px-2.5 py-1.5 rounded border border-gray-200 focus:border-red-500 ring-transparent focus:outline-none">#}

            </form>
        </div>
    </div>

    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-x-auto">
                <table class="min-w-full mt-6 border-l border-r bg-white text-sm">
                    {% if dogs is empty %}
                        <tr class="border-b border-t">
                            <td colspan="99" class="py-6 px-3 text-center">
                                No se han encontrado registros
                            </td>
                        </tr>
                    {% else %}
                        <thead class="border-t border-b h-10 px-3">
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">Foto</th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            {{ knp_pagination_sortable(dogs, 'Nombre', 'name') }}
                        </th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Breed{% endtrans %}</th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Color{% endtrans %}</th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Dueñ@{% endtrans %}</th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Edad{% endtrans %}</th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">{% trans %}Actions{% endtrans %}</th>
                        </thead>
                        <tbody class="bg-white">
                        {% for dog in dogs %}
                            <tr class="border-b hover:bg-neutral-50">
                                <td class="py-1.5 px-3">
                                    <img src="{{ asset(dog.getProfileImgPath()) }}" alt="{{ dog.name }}" class="h-8 w-8 rounded-full object-cover">
                                </td>
                                <td class="py-1.5 px-3 whitespace-nowrap">
                                    <a href="{{ path('admin_dog_show', {'id': dog.id}) }}" class="text-sky-500 hover:underline hover:text-sky-600 focus:underline focus:text-sky-600 focus:outline-none">
                                        {{ dog.name }}
                                    </a>
                                </td>
                                <td class="py-1.5 px-3 whitespace-nowrap">
                                    {{ dog.breed ? dog.breed.name : '-' }}
                                </td>
                                <td class="py-1.5 px-3 whitespace-nowrap">
                                    {{ dog.color ? dog.color : '-' }}
                                </td>
                                <td class="py-1.5 px-3 whitespace-nowrap">
                                    {{ dog.ownerName ? dog.ownerName : '-' }}
                                </td>
                                <td class="py-1.5 px-3 whitespace-nowrap">
                                    {{ dog.getDogYears ?? '-' }}
                                </td>
                                <td class="py-1.5 px-3 whitespace-nowrap">
                                    <div class="flex items-center space-x-2.5">
                                        <a href="{{ path('admin_dog_show', {'id': dog.id}) }}" class="text-slate-400 hover:text-slate-500 focus:text-slate-500 active:text-slate-600 focus:outline-none transition duration-150 ease-in-out">
                                            <i class="fa-solid fa-eye text-base"></i>
                                        </a>
                                        <a href="{{ path('admin_dog_edit', {'id': dog.id}) }}" class="text-slate-400 hover:text-slate-500 focus:text-slate-500 active:text-slate-600 focus:outline-none transition duration-150 ease-in-out">
                                            <i class="fa-solid fa-pen-to-square text-base"></i>
                                        </a>
                                        <form method="post" action="{{ path('admin_dog_delete', {'id': dog.id}) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dog.id) }}">
                                            <button type="submit" data-name="{{ dog.name }}" data-img="{{ asset(dog.getProfileImgPath()) }}" class="delete-action-button | text-rose-400 hover:text-rose-500 focus:text-rose-500 active:text-rose-600 focus:outline-none transition duration-150 ease-in-out">
                                                <i class="fa-solid fa-trash text-base"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="navigation py-3">
        {{ knp_pagination_render(dogs) }}
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.delete-action-button').click(function(e) {
            e.preventDefault();

            let clickedElement = $(this);
            let form = $(this).parents('form');
            let name = clickedElement.data('name');
            let img = clickedElement.data('img');

            deleteConfirmation(form, name, img)
        });

        function deleteConfirmation(form, name, img)
        {
            Swal.fire({
                title: 'Eliminar cliente',
                html: '<div class="border-b">' +
                            '<p>¿Seguro que quieres eliminar el cliente?</p>' +
                            '<div class="py-3 flex flex-col items-center">' +
                                '<img src="'+img+'" alt="name" class="h-28 w-28 rounded-full object-cover shadow-lg border p-1">' +
                                '<p class="pt-1.5 font-medium text-lg">'+name+'</p>' +
                            '</div>' +
                        '</div>',
                showCloseButton: true,
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonText: "Sí, eliminar",
                customClass: {
                    title: 'text-2xl font-medium',
                    htmlContainer: 'text-base',
                    closeButton: 'text-slate-300 text-[28px] hover:text-slate-500 focus:text-slate-500 focus:outline-none',
                    cancelButton: 'px-6 py-2.5 bg-transparent font-medium text-xs leading-tight uppercase text-slate-400 hover:text-slate-700 focus:text-slate-700 focus:outline-none focus:ring-0 transition duration-150 ease-in-out',
                    confirmButton: 'px-6 py-2.5 bg-red-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-lg transition duration-150 ease-in-out',
                },
                buttonsStyling: false,
                reverseButtons: true,
                showLoaderOnConfirm: true,
            })
            .then(result => {
                if (result.value) {
                    form.submit();
                }
            });
        }
    </script>
{% endblock %}