{% extends 'base-admin.html.twig' %}

{% block title %}Clientes: ver | {% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
            <div class="flex items-center">
                <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-sky-500">Administración</p>
                <p class="mb-2 md:mb-4 px-1.5 text-xs md:text-sm font-semibold">/</p>
                <a href="{{ path('admin_dog') }}" class="mb-2 md:mb-4 text-xs md:text-sm font-semibold hover:text-sky-500 focus:text-sky-500">Clientes</a>
            </div>

            <div class="flex items-center justify-betwwen">
                <h1 class="flex-auto text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">{{ dog.name }}<span class="ml-2.5 text-lg font-medium">{{ dog.ownerName }}</span></h1>
                <form method="post" action="{{ path('admin_dog_delete', {'id': dog.id}) }}" onsubmit="return confirm('¿Estás seguro que desear eliminar el cliente?');">
                    <div class="mt-2 flex items-center space-x-3">
                        <a href="{{ path('admin_dog_edit', {'id': dog.id}) }}" class="text-xs md:text-sm text-sky-500 hover:text-sky-600 focus:text-sky-600 active:text-sky-700 focus:outline-none">Editar</a>
                        <button class="text-xs md:text-sm text-rose-500 hover:text-rose-600 focus:text-rose-600 active:text-rose-700 focus:outline-none">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="md:max-w-2xl my-8">
        <div class="flex flex-col items-center md:justify-center md:flex-row space-y-4 md:space-y-0 md:space-x-8">
            <img src="{{ asset(dog.getProfileImgPath) }}" alt="Imagen del cliente" class="h-48 w-48 rounded-full object-cover shadow-lg bg-white p-0.5">

            <div class="flex flex-col items-center md:items-start space-y-4">
                <p class="text-2xl font-semibold">{{ dog.name }}</p>
                <div class="flex flex-col items-center md:items-start space-y-1.5">
                    <p class="text-sm"><span class="font-medium mr-1">Raza:</span>{{ dog.breed.name ?? '-' }}</p>
                    <p class="text-sm"><span class="font-medium mr-1">Color:</span>{{ dog.color ?? '-' }}</p>
                    <p class="text-sm"><span class="font-medium mr-1">Edad:</span>{{ dog.getDogYears ?? '-' }}</p>
                </div>
            </div>
        </div>

        <div class="mt-4 flex flex-col space-y-3 text-sm">
            <h4 class="pt-6 pb-2 text-lg font-semibold border-b">Datos del perro</h4>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Id</p>
                <p class="flex-1 text-left w-full">{{ dog.id }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Nombre del perro</p>
                <p class="flex-1 text-left w-full">{{ dog.name }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Raza</p>
                <p class="flex-1 text-left w-full">{{ dog.breed.name ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Color</p>
                <p class="flex-1 text-left w-full">{{ dog.color ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Cumpleaños</p>
                <p class="flex-1 text-left w-full">{{ dog.birthDate ? dog.birthDate|date('d-m-Y') : '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Activo</p>
                <p class="flex-1 text-left w-full">{{ dog.active ? '<i class="fa-solid fa-check text-emerald-500"></i>' : '<i class="fa-solid fa-xmark text-rose-500"></i>' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Observaciones</p>
                <p class="flex-1 text-left w-full">
                    {% if dog.notes %}
                        <textarea readonly class="w-full focus:outline-none" rows="3">{{ dog.notes }}</textarea>
                    {% else %}
                        -
                    {% endif %}
                </p>
            </div>

            <h4 class="pt-6 pb-2 text-lg font-semibold border-b">Datos de facturación / dueñ@</h4>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Nombre</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerName ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">DNI / NIE</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerIdentification ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Dirección</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerAddress ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Código Postal</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerCP ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Localidad</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerLocation ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Provincia</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerProvince ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">Teléfono</p>
                <p class="flex-1 text-left w-full">{{ dog.ownerPhone ?? '-' }}</p>
            </div>
            <div class="flex items-start justify-between pb-2 border-b space-x-4">
                <p class="flex-1 font-medium text-right w-full">E-Mail</p>
                <p class="flex-1 text-left w-full text-ellipsis overflow-hidden">{{ dog.ownerEmail ?? '-' }}</p>
            </div>
        </div>
    </div>
{% endblock %}
