{% extends 'base_admin.html.twig' %}

{% block title %}Informe de ventas | {% endblock %}

{% block main %}
    {{ component(
        'crudHeaderComponent',
        {
            section: 'Ventas',
            title: 'Informe de ventas',
        }
    ) }}

    <form action="{{ path('admin_sales_report') }}" method="POST">
        <div class="flex items-center space-x-4">
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <i class="fa-solid fa-calendar text-gray-500"></i>
                </div>
                <input name="dateFrom" id="dateFrom" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                       placeholder="Selecciona fecha inicio" value="{{ date_from|date('Y-m-d') }}">
            </div>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <i class="fa-solid fa-calendar text-gray-500"></i>
                </div>
                <input name="dateTo" id="dateTo" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                       placeholder="Selecciona fecha fin" value="{{ date_to|date('Y-m-d') }}">
            </div>
            <button type="submit" class="flex-initial px-6 py-3 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-600 hover:shadow-lg focus:bg-blue-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-lg transition duration-150 ease-in-out">
                Buscar
            </button>
        </div>
    </form>

    <div class="mt-6 p-4 rounded-lg bg-gray-50 border border-gray-300">
        {% set total_sales = total_bizum + total_card + total_cash %}
        {% set cash_percent = total_sales > 0 ? (total_cash / total_sales) * 100 : 0 %}
        {% set card_percent = total_sales > 0 ? (total_card / total_sales) * 100 : 0%}
        {% set bizum_percent = total_sales > 0 ? (total_bizum / total_sales) * 100 : 0%}
        {% set to_declate_percent = total_sales > 0 ? ((total_card + total_bizum) / total_sales) * 100 : 0%}
        <h2 class="font-semibold text-gray-900 dark:text-white">Total Ventas: <span class="font-bold">{{ total_sales|format_currency('EUR') }}</span></h2>
        <h2 class="mt-4 font-semibold text-gray-900 dark:text-white">Total Bizum: <span class="font-bold">{{ total_bizum|format_currency('EUR') }}</span><span class="ml-3 text-xs text-gray-500">{{ bizum_percent|number_format(2, '.', '') }}%</span></h2>
        <h2 class="font-semibold text-gray-900 dark:text-white">Total Tarjeta: <span class="font-bold">{{ total_card|format_currency('EUR') }}</span><span class="ml-3 text-xs text-gray-500">{{ card_percent|number_format(2, '.', '') }}%</span></h2>
        <h2 class="font-semibold text-gray-900 dark:text-white">Total Efectivo: <span class="font-bold">{{ total_cash|format_number }}</span><span class="ml-3 text-xs text-gray-500">{{ cash_percent|number_format(2, '.', '') }}%</span></h2>
        <h2 class="mt-4 font-semibold text-gray-900 dark:text-white">Total a declarar: <span class="font-bold">{{ total_to_declare|format_currency('EUR') }}</span><span class="ml-3 text-xs text-gray-500">{{ to_declate_percent|number_format(2, '.', '') }}%</span></h2>
    </div>

    {% if (export_sales|length) > 0 %}
    <div class="my-8">
        <table class="text-sm">
            <thead>
                <tr>
                    <th class="px-4 py-1 text-right">Id</th>
                    <th class="px-4 py-1 text-right">N/Factura</th>
                    <th class="px-4 py-1 text-right">Fecha</th>
                    <th class="px-4 py-1 text-right">Base Imponible</th>
                    <th class="px-4 py-1 text-right">Total IVA (21%)</th>
                    <th class="px-4 py-1 text-right">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for sale in export_sales %}
                <tr>
                    <td class="px-4 py-1 text-right">{{ sale['id'] }}</td>
                    <td class="px-4 py-1 text-right">{{ sale['invoice'] }}</td>
                    <td class="px-4 py-1 text-right">{{ sale['date']|date('d/m/Y') }}</td>
                    <td class="px-4 py-1 text-right">{{ sale['total_without_taxes']|number_format(2, '.', '') }}</td>
                    <td class="px-4 py-1 text-right">{{ sale['total_taxes']|number_format(2, '.', '') }}</td>
                    <td class="px-4 py-1 text-right">{{ sale['total']|number_format(2, '.', '') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}