<li><a href="{{ path('admin_dashboard') }}" class="{{ classes }}">Dashboard</a></li>
<li><a href="{{ path('admin_dog') }}" class="{{ classes }}">Clientes</a></li>
<li><a href="{{ path('admin_agenda') }}" class="{{ classes }}">Agenda</a></li>
<li><a href="{{ path('admin_dog') }}" class="{{ classes }}">Servicios</a></li>