<li><a href="{{ path('admin_dashboard') }}" class="{{ classes }}">Dashboard</a></li>
<li><a href="{{ path('admin_customer') }}" class="{{ classes }}">Clientes</a></li>
<li><a href="{{ path('admin_pet') }}" class="{{ classes }}">Mascotas</a></li>
<li><a href="{{ path('admin_agenda') }}" class="{{ classes }}">Agenda</a></li>
<li><a href="{{ path('admin_agenda') }}" class="{{ classes }}">Servicios</a></li>