<li><a href="{{ path('admin_dogs') }}" class="{{ classes }}">Clientes</a></li>
<li><a href="{{ path('admin_agenda') }}" class="{{ classes }}">Agenda</a></li>
<li><a href="{{ path('admin_dogs') }}" class="{{ classes }}">Servicios</a></li>