<li><a href="{{ path('admin_sale_create') }}" class="px-4 py-2 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 hover:shadow-lg focus:bg-sky-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-700 active:shadow-lg transition duration-150 ease-in-out"><i class="fa-solid fa-plus mr-1.5"></i>TPV</a></li>
<li><a href="{{ path('admin_sale_create') }}" class="px-4 py-2 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 hover:shadow-lg focus:bg-sky-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-700 active:shadow-lg transition duration-150 ease-in-out"><i class="fa-solid fa-plus mr-1.5"></i>Cita</a></li>
<li><a href="{{ path('admin_agenda') }}" class="{{ classes }}">Agenda</a></li>
<li><a href="{{ path('admin_pet') }}" class="{{ classes }}">Mascotas</a></li>
<li><a href="{{ path('admin_customer') }}" class="{{ classes }}">Clientes</a></li>