<ul class="select-none">
    <li>
        <a href="{{ path('admin_dashboard') }}" class="flex items-center space-x-2.5 mb-6 lg:mb-3 font-semibold focus:outline-none {% if app.request.get('_route') == 'admin_dashboard' %}text-blue-500 pointer-events-none{% else %}text-neutral-900 hover:text-blue-500 focus:text-blue-500 {% endif %}">
            <i class="fa-solid fa-chart-pie text-base w-4 text-center"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-calendar-days text-base w-4 text-center"></i>
            <span>Agenda</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_booking', message: 'Citas', routeFilter: 'admin_booking_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Configuraci贸n', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_public_holiday', message: 'Festivos', routeFilter: 'admin_public_holiday_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-cash-register text-base w-4 text-center"></i>
            <span>Ventas</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_sale', message: 'Tickets', routeFilter: 'admin_sale_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Facturas', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_sales_report', message: 'Informe de ventas', routeFilter: 'admin_sales_report_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-cart-shopping text-base w-4 text-center"></i>
            <span>Compras / Gastos</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_test', message: 'Facturas', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Proveedores', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Acreedores', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Informe de gastos', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-chart-column text-base w-4 text-center"></i>
            <span>Informes</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_test', message: 'Balance', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Previsi贸n impuestos', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-percent text-base w-4 text-center"></i>
            <span>Impuestos</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_test', message: 'Declaraci贸n IVA', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Retenciones', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Beneficios', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'IRPF', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-database text-base w-4 text-center"></i>
            <span>Mantenimiento</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_pet', message: 'Mascotas', routeFilter: 'admin_pet_'}) }}
            {{ component('adminNavItem', {path: 'admin_customer', message: 'Clientes', routeFilter: 'admin_customer_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Servicios', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Productos', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-paw text-base w-4 text-center"></i>
            <span>Contenidos</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_test', message: 'Trabajos', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Blog', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
        </ul>
    </li>
    <li class="mt-6">
        <h5 class="mb-3 font-semibold text-neutral-900 flex items-center space-x-2.5">
            <i class="fa-solid fa-gear text-base w-4 text-center"></i>
            <span>Configuraci贸n</span>
        </h5>
        <ul>
            {{ component('adminNavItem', {path: 'admin_test', message: 'Tareas Programadas', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
            {{ component('adminNavItem', {path: 'admin_test', message: 'Comandos', tag: 'pendiente', disable: true, routeFilter: 'admin_test_'}) }}
        </ul>
    </li>
</ul>