<div class="pt-4 border-t relative">
    <h4 class="uppercase text-sm tracking-widest text-slate-700 font-medium absolute top-0 left-0 ml-3 -mt-2.5 bg-white px-1.5">cabecero</h4>
    <h4 id="spinner-sale" class="uppercase text-sm tracking-widest text-slate-800 font-medium absolute top-0 right-0 mr-2.5 -mt-2.5 bg-white px-1.5"><i class="animate-pulse fa-solid fa-floppy-disk"></i></h4>

    <div class="flex flex-col space-y-3">
        <div class="grid grid-cols-1 lg:grid-cols-3 lg:space-x-3 space-y-3 lg:space-y-0">
            <div class="flex flex-col space-y-1">
                <div class="flex items-center justify-between">
                    <label for="date" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Fecha</label>
                    <a data-tooltip-target="tooltip-date" id="edit-date"
                       class="px-1 py-0.5 w-6 text-center cursor-pointer text-sky-500 text-[12px] rounded bg-transparent hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white focus:outline-none">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <div id="tooltip-date" role="tooltip" class="absolute z-10 invisible inline-block px-2.5 py-1 text-[12px] font-medium text-slate-700 bg-slate-100 border border-slate-200 rounded shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Editar fecha
                    </div>
                </div>
                <input type="datetime-local" id="date" disabled class="sale_field w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-slate-50 border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-400 focus:outline-none"
                       value="{{ sale.dateAdd|date('Y-m-d H:i:s') }}"
                       required>
            </div>
            <div class="flex flex-col space-y-1">
                <div class="flex items-center justify-between">
                    <label for="pet" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Mascota</label>
                    <a data-tooltip-target="tooltip-pet" id="history-pet"
                       class="px-1 py-0.5 w-6 text-center cursor-pointer text-sky-500 text-[12px] rounded bg-transparent hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white focus:outline-none">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                    <div id="tooltip-pet" role="tooltip" class="absolute z-10 invisible inline-block px-2.5 py-1 text-[12px] font-medium text-slate-700 bg-slate-100 border border-slate-200 rounded shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Historial de mascota
                    </div>
                </div>
                <select id="pet" class="sale_field appearance-none block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-500 focus:outline-none">
                    <option selected value=""><< Ninguna >></option>
                    {% for pet in pets %}
                        <option {% if sale.pet and pet.id == sale.pet.id %}selected{% endif %} value="{{ pet.id }}">{{ pet.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-col space-y-1">
                <div class="flex items-center justify-between">
                    <label for="customer" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Cliente</label>
                    <a data-tooltip-target="tooltip-customer" id="history-customer"
                       class="px-1 py-0.5 w-6 text-center cursor-pointer text-sky-500 text-[12px] rounded bg-transparent hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white focus:outline-none">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                    <div id="tooltip-customer" role="tooltip" class="absolute z-10 invisible inline-block px-2.5 py-1 text-[12px] font-medium text-slate-700 bg-slate-100 border border-slate-200 rounded shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Historial de cliente
                    </div>
                </div>
                <select id="customer" {% if sale.pet %}disabled{% endif %}
                        class="sale_field appearance-none block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-clip-padding bg-no-repeat border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-500 focus:outline-none {% if sale.pet %}bg-slate-50{% else %}bg-white {% endif %}">
                    <option selected value=""><< Ninguno >></option>
                    {% for customer in customers %}
                        <option {% if sale.customer and customer.id == sale.customer.id %}selected{% endif %} value="{{ customer.id }}">{{ customer.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="flex flex-col space-y-1">
            <label for="notes" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Observaciones</label>
            <textarea id="notes" rows="4"
                      class="sale_field block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-500 focus:outline-none"
                      placeholder="">{{ sale.notes }}</textarea>
        </div>

        <label class="relative inline-flex items-center mb-5 cursor-pointer">
            <input type="checkbox" id="maintenance-plan" value="" class="sale_field sr-only peer" {% if sale.maintenancePlan %}checked{% endif %}>
            <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ml-3 text-[12px] font-medium text-slate-600 uppercase tracking-wide">Plan de mantenimiento</span>
        </label>
    </div>
</div>