{% for saleLine in sale.saleLines %}
    <form action="{{ path('admin_sale_edit_update_line', {'sale': sale.id, 'saleLine': saleLine.id}) }}" method="POST" class="overflow-x-auto pb-2.5">
        <div class="flex items-center space-x-2.5 justify-between">
            <a href="{{ path('admin_sale_edit_delete_line', {'sale': sale.id, 'saleLine': saleLine.id}) }}"
               class="delete_line_button mt-5 px-2 py-1 text-sky-500 text-sm rounded bg-transparent hover:bg-sky-500 hover:text-white focus:bg-sky-500 focus:text-white focus:outline-none">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <div class="flex-1 flex flex-col space-y-1 min-w-[20rem] ">
                <label for="title" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Descripción</label>
                <input type="text" id="title" value="{{ saleLine.title }}"
                       class="sale_line_field title w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-400 focus:outline-none"
                       {% if saleLine.title is null %}autofocus{% endif %}>
            </div>
            <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
                <label for="quantity" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Cantidad</label>
                <input type="number" id="quantity" value="{{ saleLine.quantity }}"
                       class="sale_line_field quantity | w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-400 focus:outline-none">
            </div>
            <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
                <label for="price" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Precio</label>
                <input type="number" id="price" min="0" value="{{ saleLine.price }}"
                       class="sale_line_field price | w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-400 focus:outline-none">
            </div>
            <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
                <label for="discount" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Descuento</label>
                <input type="number" id="discount" min="0" value="{{ saleLine.discount }}"
                       class="sale_line_field discount | w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-400 focus:outline-none">
            </div>
            <div class="flex flex-col space-y-1 w-[5rem] min-w-[5rem]">
                <label for="tax-type" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">IVA</label>
                <select id="tax-type"
                        class="sale_line_field taxType appearance-none block w-full px-3 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-slate-300 rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-sky-500 focus:outline-none">
                    {% for tax_type in tax_types %}
                        <option {% if saleLine.taxType.id == tax_type.id %}selected{% endif %} value="{{ tax_type.id }}">{{ tax_type.rate }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-col space-y-1 w-[6rem] min-w-[6rem]">
                <label for="total" class="text-[12px] font-medium text-slate-600 uppercase tracking-wide">Total</label>
                <input type="number" id="total" step="0.01" disabled value="{{ saleLine.total }}"
                       class="sale_line_field total w-full px-3 py-1.5 text-sm font-normal bg-slate-50 text-slate-700 border-solid border-slate-300 rounded transition ease-in-out m-0 focus:outline-none">
            </div>
            <a href="{{ path('admin_sale_edit_delete_line', {'sale': sale.id, 'saleLine': saleLine.id}) }}"
               class="delete_line_button mt-5 px-2 py-1 text-red-500 text-sm rounded bg-transparent hover:bg-red-500 hover:text-white focus:bg-red-500 focus:text-white focus:outline-none">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    </form>
{% endfor %}

<div class="pt-1 flex items-center">
    <a href="{{ path('admin_sale_edit_add_line', {'sale': sale.id}) }}" id="add-line"
       class="px-6 py-2.5 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 hover:shadow-lg focus:bg-sky-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-700 active:shadow-lg transition duration-150 ease-in-out">
        <i class="fa-solid fa-plus mr-1.5"></i>nueva línea
    </a>
</div>