{% extends 'base-admin.html.twig' %}

{% block title %}TPV | {% endblock %}

{% block main %}
    {% set sales = view.sales %}
    {% set search = view.search %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">TPV</h1>
            <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Gestión de ventas / servicios.</p>
        </div>
    </header>

    <div class="flex items-center justify-between space-x-4">
        <form method="post" action="{{ path('admin_sale_create') }}">
            <input type="hidden" name="pathIndex" value="{{ app.request.requesturi }}">
            <button type="submit" class="flex-initial px-6 py-2.5 bg-sky-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-600 hover:shadow-lg focus:bg-sky-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-700 active:shadow-lg transition duration-150 ease-in-out">
                Nuevo
            </button>
        </form>
        <form action="{{ path('admin_sale') }}" class="flex-1">
            <div class="input-group relative flex flex-wrap items-stretch w-full">
                <div class="relative z-0 w-full">
                    <input type="search" id="search" name="search" class="block w-full px-0 py-2 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-slate-200 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer" placeholder=" " autofocus autocomplete="off" value="{{ search }}" />
                    <label for="search" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Buscar</label>
                </div>
            </div>
        </form>
    </div>

    <div class="overflow-x-auto">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-x-auto">
                <table class="min-w-full mt-6 border-l border-r bg-white text-sm">
                    {% if sales is empty %}
                    <tr class="border-b border-t">
                        <td colspan="99" class="py-6 px-3 text-center">
                            No se han encontrado TPV's
                        </td>
                    </tr>
                    {% else %}
                    <thead class="border-t border-b h-10 px-3">
                        <th class="w-12 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            {{ knp_pagination_sortable(sales, 'Id', 'id') }}
                        </th>
                        <th class="w-36 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            {{ knp_pagination_sortable(sales, 'Fecha', 'dateAdd') }}
                        </th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            {{ knp_pagination_sortable(sales, 'Mascota', 'pet') }}
                        </th>
                        <th class="py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            {{ knp_pagination_sortable(sales, 'Cliente', 'customer') }}
                        </th>
                        <th class="w-12 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            {{ knp_pagination_sortable(sales, 'Mantenimiento', 'maintenance_plan') }}
                        </th>
                        <th class="w-12 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            Total
                        </th>
                        <th class="w-36 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            Pago
                        </th>
                        <th class="w-12 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            Descuentos
                        </th>
                        <th class="w-12 py-1.5 px-3 text-left font-semibold whitespace-nowrap">
                            IVA
                        </th>
                        <th class="w-auto py-1.5 px-3 text-left font-semibold whitespace-nowrap"></th>
                    </thead>
                    <tbody class="bg-white">
                    {% for sale in sales %}
                        {% set paymentInfo = view.paymentsInfo[sale.id] %}
                        <tr class="border-b hover:bg-neutral-50 {% if sale.total == 0 %}bg-red-50{% endif %}">
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                {{ sale.id }}
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                {{ sale.dateAdd|date('d/m/Y H:i') }}
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                {{ sale.pet ? sale.pet : '-' }}
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                {{ sale.customer ? sale.customer : '-' }}
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                <i class="w-4 text-center {% if sale.maintenancePlan %}fa-solid fa-check text-emerald-500{% else %}fa-solid fa-xmark text-rose-500{% endif %}"></i>
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                <span>{{ sale.total|format_currency('EUR', {fraction_digit: 2}) }}</span>
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                <i class="fa-solid {% if paymentInfo.state == constant('App\\Entity\\Sale::STATE_PAID') %}fa-circle-check text-emerald-500{% elseif paymentInfo.state == constant('App\\Entity\\Sale::STATE_PARTIAL_PAYMENT') %}fa-circle-minus text-amber-500{% else %}fa-circle-xmark text-red-500{% endif %}"></i>
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                <span>{{ sale.totalDiscounts|format_currency('EUR', {fraction_digit: 2}) }}</span>
                            </td>
                            <td class="py-1.5 px-3 whitespace-nowrap">
                                <span>{{ sale.totalTaxes|format_currency('EUR', {fraction_digit: 2}) }}</span>
                            </td>
                            <td class="çpy-1.5 px-3 whitespace-nowrap">
                                <div class="flex items-center justify-end space-x-2.5">
                                    <form method="post" action="{{ path('admin_sale_show', {'id': sale.id}) }}">
                                        <input type="hidden" name="pathIndex" value="{{ app.request.requesturi }}">
                                        <button type="submit" class="text-slate-500 hover:text-slate-600 focus:text-slate-600 active:text-slate-700 focus:outline-none transition duration-150 ease-in-out">
                                            <i class="fa-solid fa-eye text-base"></i>
                                        </button>
                                    </form>
                                    <form method="post" action="{{ path('admin_sale_edit', {'id': sale.id}) }}">
                                        <input type="hidden" name="pathIndex" value="{{ app.request.requesturi }}">
                                        <input type="hidden" name="pathFrom" value="index">
                                        <button type="submit" class="text-slate-500 hover:text-slate-600 focus:text-slate-600 active:text-slate-700 focus:outline-none transition duration-150 ease-in-out">
                                            <i class="fa-solid fa-pen-to-square text-base"></i>
                                        </button>
                                    </form>
                                    <a href="" class="text-slate-500 hover:text-slate-600 focus:text-slate-600 active:text-slate-700 focus:outline-none transition duration-150 ease-in-out">
                                        <i class="fa-solid fa-print"></i>
                                    </a>
                                    <form method="post" action="{{ path('admin_sale_delete', {'id': sale.id}) }}">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ sale.id) }}">
                                        <input type="hidden" name="pathIndex" value="{{ app.request.requesturi }}">
                                        <button type="submit"
                                                class="delete-action-button | text-rose-500 hover:text-rose-600 focus:text-rose-600 active:text-rose-700 focus:outline-none transition duration-150 ease-in-out">
                                            <i class="fa-solid fa-trash text-base"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="py-3 flex flex-col">
        {{ knp_pagination_render(sales) }}
        {% if sales.pageCount > 1 %}
            <div class="pt-3 flex flex-col items-end space-y-0.5 text-slate-400 italic text-xs md:text-sm">
                <span>{{ sales.currentPageNumber * sales.itemNumberPerPage - sales.itemNumberPerPage + 1 }} / {% if sales.currentPageNumber != sales.pageCount %}{{ sales.currentPageNumber * sales.itemNumberPerPage }}{% else %}{{ sales.getTotalItemCount }}{% endif %} de {{ sales.getTotalItemCount }} registros</span>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('build/app/js/admin/sale/delete-confirmation.js') }}"></script>
{% endblock %}