{% extends 'base-admin.html.twig' %}

{% block title %}Clientes | {% endblock %}

{% block main %}
    <header id="header" class="mb-6 md:mb-10 md:flex md:items-start">
        <div class="flex-auto max-w-4xl">
            <p class="mb-2 md:mb-4 text-xs md:text-sm font-semibold text-blue-500">Administración</p>
            <h1 class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight">Clientes</h1>
            <p class="mt-2 md:mt-4 text-base md:text-lg text-slate-700">Mantenimiento de fichas de clientes.</p>
        </div>
    </header>

    <div class="pb-6 relative">
        <label for="search-input">Search:</label>
        <input type="search" id="search-input" name="search" class="relative flex-auto min-w-0 block w-full px-2.5 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-500 focus:outline-none">
        <div id="search-results" class="hidden border bg-slate-50 rounded-md p-3 text-xs absolute top-0 left-0 mt-16 w-full z-50"></div>
    </div>

    <div class="flex items-center justify-between space-x-4">
        <form method="post" action="{{ path('admin_customer_create') }}">
            <input type="hidden" name="pathIndex" value="{{ app.request.requesturi }}">
            <button type="submit" class="flex-initial px-6 py-2.5 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-600 hover:shadow-lg focus:bg-blue-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-700 active:shadow-lg transition duration-150 ease-in-out">
                Nuevo
            </button>
        </form>
{#        <form action="{{ path('admin_customer') }}" class="flex-1">#}
{#            <div class="input-group relative flex flex-wrap items-stretch w-full">#}
{#                <input type="search" name="search"#}
{#                       class="form-control relative flex-auto min-w-0 block w-full px-2.5 py-1.5 text-sm font-normal text-slate-700 bg-white bg-clip-padding border rounded transition ease-in-out m-0 focus:text-slate-700 focus:bg-white focus:border-blue-500 focus:outline-none"#}
{#                       placeholder="Buscar..." aria-label="Search" aria-describedby="btn-search" value="{{ search }}"#}
{#                       autofocus autocomplete="off">#}
{#            </div>#}
{#        </form>#}
    </div>

    <div id="data">
        {% include 'admin/customer/index/_data.html.twig' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('build/app/js/admin/customer/delete-confirmation.js') }}"></script>

    <script>
        $(document).ready(function() {
            $("#search-input").on("keyup", function() {
                // event.preventDefault();
                let resultsDiv = $("#search-results");

                var searchValue = $(this).val();

                $.ajax({
                    url: "{{ path('admin_service_customer_search') }}",
                    type: "GET",
                    data: {search: searchValue},
                    success: function(data) {
                        $("#data").html(data);

                        // if (data !== 'empty') {
                        //     resultsDiv.removeClass('hidden');
                        //
                        //     var results = "";
                        //
                        //     for (var i = 0; i < data.length; i++) {
                        //         results += "<p><a href='#'>" + data[i].name + "</a></p>";
                        //     }
                        //
                        //     $("#search-results").html(results);
                        // } else {
                        //     resultsDiv.empty().addClass('hidden');
                        // }
                    }
                });
            });
        });
    </script>
{% endblock %}